In [2]:
#types

name = 'Venkatachalam'

age = 34

print(name, age)

Venkatachalam 34

In [9]:
#str
text: str = 'string'
number: int = 28
decimal: float = 29.9
boolean: bool = True

names: list = [20, 23, 24, 25]
mytuple: tuple = ('ve', 34)
myList: list = {90, 92, 94} #which syntax is correct?
uniqueset: set = {20, 20, 23, 23} #if I use [] brackets, it is taking it as list or array
myDictionary: dict = {'age': 34, 'name' : 'venkatachalam'}

# use [] for list & {} dictionary and set
# list is ordered and mutatale, {} key should be unique and unordered
print(text, number, decimal, boolean, names, mytuple, myList, uniqueset, myDictionary)

#type annotation
number1: int = 3
number2: int = 'venkat'
# eventhough I assigned str to number2, it is still executes.

#tupe is ordered, IMMUTATABLE, Heterogeneous

string 28 29.9 True [20, 23, 24, 25] ('ve', 34) {90, 92, 94} {20, 23} {'age': 34, 'name': 'venkatachalam'}